.wrapExpert {
   padding: 16px;
   background-color: #f7f9fc;
   width: 70%;
}
.wrapExpert h2 {
   padding: 30px 0 20px 25px;
}
/* box */
.box {
   background-color: #ffffff;
   display: flex;
}
.first {
   align-items: center;
   width: 30%;
}
.profile-img {
   width: 150px !important;
   height: 150px !important;
}
.second {
   width: 70%;
}

.button {
   display: flex;
   align-items: center;
   background-color: #edf1f7;
   color: lightsteelblue;
   border-radius: 15px;
   padding: 4px 15px;
   margin: 5px;
   max-width: 90px;
   max-height: 30px;
}
