.wrapExpert {
   padding: 16px;
   background-color: #f7f9fc;
   width: 70%;
}
.wrapExpert h2 {
   padding: 30px 0 20px 25px;
}
/* box */
.box {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background-color: #ffffff;
   display: flex;
   border: 1px solid #eef1f7;
}
.first {
   align-items: center;
   justify-content: center;
   width: 20%;
   padding: 20px 30px;
}
.first > h5 {
   display: flex;
   justify-content: center;
}
.first > p {
   display: flex;
   justify-content: center;
   align-items: center;
}
.first > .profile-img {
   width: 150px !important;
   height: 150px !important;
   margin-left: 16px;
}
.second {
   width: 80%;
}

.button {
   display: flex;
   align-items: center;
   background-color: whitesmoke;
   color: lightsteelblue;
   border-radius: 15px;
   padding: 4px 15px;
   margin: 5px;
   max-width: 90px;
   max-height: 30px;
}

.heading {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #a9b8ca;
}
.heading > .view-profile {
   display: flex;
   padding: 16px;
   align-items: center;
}
.heading > .view-profile > button {
   margin: auto 5px;
   background-color: coral;
   height: 30px;
   width: 100px;
   border: none;
   border-radius: 5px;
   color: white;
}

.name > h5 {
   color: darkgray;
   margin-top: 5px !important;
}
.name > h1 {
   color: darkslategray;
   margin-bottom: 5px !important;
}
.offer {
   display: flex;
   color: lightsteelblue;
   margin: 2px;
}
.offer > h5 {
   display: flex;
   margin-right: 10px;
   justify-content: center;
   align-items: center;
}
.specification {
   display: flex;
   padding: 10px;
}
.specification > button {
   display: flex;
   align-items: center;
   background-color: #edf1f7;
   color: lightsteelblue;
   border-radius: 15px;
   padding: 4px 15px;
   margin: 5px;
   max-width: 90px;
   max-height: 30px;
   border: none;
}
