.wrapExpert {
   padding: 16px;
   background-color: #f7f9fc;
   width: 70%;
}
.wrapExpert h2 {
   padding: 30px 0 20px 25px;
}
/* box */
.box {
   background-color: #ffffff;
   display: flex;
   border-color: #a9b8ca;
}
.first {
   align-items: center;
   width: 25%;
}
.profile-img {
   width: 150px !important;
   height: 150px !important;
}
.second {
   width: 75%;
}

.button {
   display: flex;
   align-items: center;
   background-color: #edf1f7;
   color: lightsteelblue;
   border-radius: 15px;
   padding: 4px 15px;
   margin: 5px;
   max-width: 90px;
   max-height: 30px;
}

.heading {
   display: flex;
   justify-content: space-between;
}
.offer {
   display: flex;

   margin: 5px;
}
.offer > h5 {
   margin-right: 10px;
   justify-content: center;
   align-items: center;
}
.specification {
   display: flex;
   padding: 10px;
}
.specification > button {
   display: flex;
   align-items: center;
   background-color: #edf1f7;
   color: lightsteelblue;
   border-radius: 15px;
   padding: 4px 15px;
   margin: 5px;
   max-width: 90px;
   max-height: 30px;
   border: none;
}
