.wrap {
   padding: 16px;
   background-color: rgb(235, 234, 233);
   max-width: 40%;
}
.filter_container {
   background-color: white;
   padding: 20px;
   max-width: 30%;
}
.filter_heading {
   /* font-size: 1rem;
   line-height: 1.5; */
   margin: 20px 20px auto 40px;
   text-transform: uppercase;
   padding-bottom: 8px;
}
.checkbox-list {
   list-style-type: none;
}
