.wrap {
   padding: 16px;
   background-color: #e8f5e9;
   max-width: 30%;
}
.wrap-inside {
   margin: 10px;
   background-color: white;
}
.filter_container {
   background-color: white;
   /* padding: 20px; */
   max-width: 30%;
}
.filter_heading {
   /* font-size: 1rem;
   line-height: 1.5; */
   margin: 20px 20px auto 40px;
   text-transform: uppercase;
   padding-bottom: 8px;
}
.checkbox-list {
   list-style-type: none;
}

.form-control {
   padding-left: 1.2rem;
   padding-top: 0.6rem;
   padding-bottom: 0.6re;
}

/* input */
.sidebar-searchContainer {
   display: flex;
   align-items: center;
   background-color: #e0f2f1;
   width: 95%;
   height: 50px;
   border-radius: 3px;
   margin: 16px;
}
.sidebar-searchContainer > input {
   border: none;
   margin-right: 10px;
   width: 80%;
   background-color: #e0f2f1;
}

/* searchobox inside */
.searchbox-inside {
   display: flex;
   align-items: center;
   background-color: #3d5afe;
   color: white;
   border-radius: 15px;
   padding: 4px 15px;
   margin: 5px;
   max-width: 90px;
   max-height: 30px;
}

.searchbox-outside {
   display: flex;
   align-items: center;
   background-color: #aed581;
   color: white;
   border-radius: 15px;
   padding: 4px 15px;
   margin: 21px;
   max-width: 90px;
}
.searchbox-outside > MuiSvgIcon-root {
   padding-right: 7px;
}
