.nav {
   display: flex;
   justify-content: space-between;
   background-color: #fff3e6;
   align-items: center;
   font-family: "Montserrat", sans-serif;
   height: 60px;
}

.logo {
   font-size: 1.5rem;
   flex: 0.2;
   padding: 10px 25px;
}
.nav-item {
   /* justify-content: space-between; */
   flex: 0.5;
}
.nav-item ul li {
   list-style-type: none;

   display: inline-block;
   padding: 0 20px;
   font-weight: 500;
}
.nav-item ul li a {
   text-decoration: none;
   /* color: #333333; */
}

.profile {
   flex: 0.2;

   float: right;
}
.is-active {
   padding-bottom: 15px;
   border-bottom: 4px solid orange;
   color: orange;
}
